#contact-us {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.contact-us-header {
    font-weight: 400;
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: -0.25rem;
}

.contact-us-container {
    margin-bottom: 150px;
}

.contact-us-paragraph {
    margin-bottom: 25px;
}

.contact-us-button {
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 27px;
    text-align: center;
    color: var(--primary-color);
    width: 100px !important;
    height: 40px !important;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    transition:
        0.3s box-shadow,
        0.3s background-color;
}

.contact-us-button:focus {
    box-shadow: 0 0 6px 3px rgba(6, 182, 212, 0.15);
    background: rgba(6, 182, 212, 0.05);
    outline: none;
}
